html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#webgl_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#fight_menu {
    position: absolute;
    bottom: 180px;
    left: 200px;
    right: 200px;
    justify-content: space-evenly;
    display: flex;
}

.menu_button {
    width: 100px;
    height: 100px;
}

#bottom_ath {
    position: absolute;
    bottom: 50px;
    left: 300px;
    right: 300px;
}

#xp_bar {
    width: 100%;
}

#bottom_right_ath {
    position: absolute;
    right: 50px;
    bottom: 100px;
}

#top_right_ath {
    position: absolute;
    top: 100px;
    right: 50px;
}

.info_ath {
    width: 150px;
    height: 50px;
    justify-content: space-evenly;
    display: flex;
}

.info_ath_text {
    vertical-align: middle;
    color: white;
    font-size: 20;
    font-weight: bold;
    
}

.info_ath_img {
    width: 50px;
    height: 50px;
}

#lvl_text {
    vertical-align: middle;
    color: white;
    font-size: 20;
    font-weight: bold;
}

.full_black_screen {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
}

#loading_info {
    position: absolute;
    bottom: 200px;
    right: 200px;
    left:200px;
    height:200px;
    justify-content: space-evenly;
    display: flex;
}

#loading_text {
    vertical-align: middle;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

#loading_img_container {
    position: absolute;
    top: 150px;
    height: 300px;
}

.screen_gif {
    vertical-align: middle;
}

#game_over_screen {
    visibility: hidden;
}

#game_over_img_container {
    position: absolute;
    top: 150px;
    bottom: 150px;
}



